html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

html {
  font-size: 35px;
  visibility: hidden; /* hide page until KaTeX finished loading */
}

body {
  margin: 1.5em;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
}

li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p {
  line-height: 1.7;
}

body,button {
  font-family: 'Old Standard TT', serif;
}

button {
  font-weight: bold;
  font-size: 1em;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.left-margin {
  margin-left: 1em;
  margin-bottom: 0.4em;
}

.right-margin {
  margin-right: 1em;
  margin-bottom: 0.4em;
}

.katex {
  font-size: 1.07em !important;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: -1.6em;
  margin-bottom: -1.6em;
  overflow: auto;
}
