html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
@media (max-width: 480px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 19px;
  }
}

body {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

body,button {
  font-family: 'Old Standard TT', serif;
}

button {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em;
  background: transparent;
  border: none;
  outline: none;
}

.katex{
  font-size: 1em !important;
}
